[Unit]
Description=Etcd Server
After=network.target
Requires=etcd.socket

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/etcd

[Install]
WantedBy=multi-user.target
Also=etcd.socket
